* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator-body {
  position: relative;
  margin-top: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(207, 88, 88);
  display: flex;
  flex-direction: column;
  max-width: 340px;
  min-height: 400px;
  justify-content: start;
  align-items: center;
}

.number-screen {
  position: relative;
  font-family: "Rajdhani", sans-serif;
  padding-top: 4px;
  padding-right: 10px;
  font-size: 40px;
  border: 1px solid black;
  min-width: 300px;
  max-width: 300px;
  min-height: 30px;
  flex-grow: 1;
  margin-top: 20px;
  text-align: right;
}

.number-buttons {
  max-width: 300px;
  min-width: 300px;
  min-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-basis: 280px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

.number {
  background-color: transparent;
  font-size: 30px;
  color: rgb(203, 200, 200);
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  border: 1px solid black;
  cursor: pointer;
}

.number:hover {
  background-color: rgb(224, 78, 78);
}
